*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*верхняя панель сайта*/
#header{
    display: flex;
    position: fixed;
    margin-top: -150px;
    background-color: #ffc567;
    height: 80px;
    width: 100%;
}
#menu{
    height: 20px;
    width: 7000px;
    margin-top: 25px;
}
#menu ul{
    display: block;
    
}
#menu li{
    display: inline-block;
    font-size: 35px;
    margin-left: 100px;
    height: 200px;
}
#menu a{
    color:white;
    text-decoration: none;
    background: #fd5a46;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
#menu a:hover{
    color:#fd5a46;
    text-decoration: none;
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    transition: all 0.5s ease;
}

/*Логоип и название сайта*/
#logo{
    display: flex;
    margin-left: 50px;
}
#logo h1{
    color: white;
    -webkit-text-stroke:1px#000000;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 35px;
}

/*Контент*/
#content{
    border: 5px solid  #ffc567;
    border-radius: 20px;
    padding: auto;
    width: 80%;
    height: 550px;
    margin-top: 150px;
    margin-left: 10%;
}
#content h1{
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
}


/*Подвал*/
#footer {
    position: relative;
    background-color: #fd5a46;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 15px;
  }

    
