*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*верхняя панель сайта*/
#header{
    display: flex;
    position: fixed;
    background-color: #ffc567;
    margin-top: -150px;
    height: 80px;
    width: 120%;
}
#menu button{
    background-color: #fd5a46;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 35px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: all 0.5 ease;
}
#menu button:hover{
    background-color: #ffffff;
    color: #fd5a46;
    border: none;
    border-radius: 25px;
    font-size: 35px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: all 0.5 ease;
}
#menu{
    height: 20px;
    width: 7000px;
    margin-top: 25px;
}
#menu ul{
    display: block;
    
}
#menu li{
    display: inline-block;
    font-size: 35px;
    margin-left: 100px;
    height: 200px;
}
#menu a{
    color:white;
    text-decoration: none;
    background: #fd5a46;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    transition: all 0.5s ease;
}
#menu a:hover{
    color:#fd5a46;
    text-decoration: none;
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    transition: all 0.5s ease;
}

/*Логоип и название сайта*/
#logo{
    display: flex;
    margin-left: 50px;
}
#logo h1{
    color: white;
    -webkit-text-stroke:1px#000000;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 35px;
}
/*Контент*/
#content{
    border: 5px solid  #ffc567;
    border-radius: 20px;
    padding: auto;
    width: 90%;
    height: 100%;
    margin-top: 150px;
    margin-left: 5%;
}
/*Товары*/
#products{
    display: block;
}
.product{
    margin-top: 5%;
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: center;
    border: 5px solid  #ffc567;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.product:hover{
    margin-top: 5%;
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: center;
    border: 5px solid  #fd5a46;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.product button{
    color: #ffffff;
    background-color: #fd5a46;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    width: 150px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.product button:hover{
    color: #fd5a46;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    width: 150px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.product a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.product img{
    width: 90%;
    height: 90%;
}
.image{
    height: 70%;
    width: 70%;
   margin: auto;
}
/*Корзине*/
#cart{
    display: none;
    z-index: 1;
    position: fixed;
    float: right;
    overflow-y:scroll ;
    width:350px;
    height: 700px;
    background-color: #ffffff;
    border: 5px solid #fd5a46;
    border-radius: 20px;
    text-align: center;
    margin-left: 71%;
    margin-top: -65px;
}
#cart img{
    height: 50%;
    width: 50%;
    border: #fd5a46 5px solid;
    border-radius: 5px;
}
#cart button{
    background-color: #fd5a46;
    color: white;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;

}
/*Подвал*/
#footer {
    position: relative;
    background-color: #fd5a46;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 15px;
}

    
